{$PACKBASE_DOMAIN} {
    @git_repo {
        path /git/* /p/*
        path_regexp git_repo \.git(/|$)
    }

    @git_short path_regexp git_short ^/[^/]+/(info/refs|git-upload-pack|git-receive-pack)$

    handle @git_repo {
        reverse_proxy packbase:8080 {
            flush_interval -1
            transport http {
                versions 1.1
                keepalive off
            }
        }
    }

    handle @git_short {
        reverse_proxy packbase:8080 {
            flush_interval -1
            transport http {
                versions 1.1
                keepalive off
            }
        }
    }

    handle {
        reverse_proxy packbase:8080
    }
}
